*{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    border:border-box;
    /* background-image:linear-gradient to top,rgb(152, 216, 253)0%,rgb(216, 233, 243)100%,url("herooo.jpg") ; */
    /* background-color: rgba(156, 232, 255, 0.941); */
}
.navbar{
    height: 60px;
    width: 100%;
    background-color: rgb(7, 22, 46);
    color:rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 55px;
    width: 114px;

}
.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 55px;
    width:114px;
    
}
.border{
    border:1px solid transparent;
}
.border:hover{
    border:1.5px solid white;
}
.addr1{
    font-size: 0.75rem;
    color:rgb(200, 179, 151);
    margin-left: 11px;
}
.icon{
    display: flex;
}
.nav_search{
    display:flex;
    background-color: pink;
    width: 700px;
    height:40px;
    border-radius: 4px;
}
.selsearch{
    border-radius: 4px;
    background-color: f3f3f3;
    width: 50px;
    color: black;
    text-align: center;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border:none;
}
.search_icon{
    width:50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(218, 155, 19);
    border-radius: 4px;
    font-size: 1.2rem;
}
.nav_search:hover{
    border:1.5px solid yellow;
}
span{
    font-size: 0.8rem;
}
.nav-sec{
    font-size:1rem;
}
.nav-cart {
    display: flex;
    font-size: 0.8rem;
    font-weight: 200;
    align-items: end;
}
.nav-cart i{
    font-size: 2rem;
}
.panel{
    height: 40px;
    background-color:rgb(41, 41, 80);
    color:white;
    display: flex;
    justify-content: space-evenly; 
    align-items: center;
}
.panel-ops p{
    display: inline;
    margin-left: 15px;
}
.panel-ops p:hover{
    border:1.5px solid white;
}
.panel-ops{
    width:70%;
    font-size: 0.8rem;
}
.panel-all{
    font-weight: 700;
}
.panel-deals{
    font-weight: 700;
}
.hero-section{
    background-image:url("herooo.jpg");
    
    height:350px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-style: none;
    border-bottom-style:none;
    
}
.hero{
    background-color: white;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 80px;
    animation:slideRight 25s ease-in;
}
@keyframes slideRight {
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0);
    }
    
}
.box{
    display:flexbox;
    height: 320px;
    border:4px groove black;
    width:20%;
    background-color: rgb(216, 233, 243);
}
.shop-section{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(160, 212, 245);
    /* background-image:url('herooo.jpg'); */
}
.box1, .box2,.box3,.box4{
    padding: 6px;

}
.box-img{
    height: 200px;
    width:100px;
}
.boxtext a{
    color: purple;
}